html{
	margin: 0px;
}
body{
	margin-left: 0px;
	padding: 0px;
	font-family:"Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	
}
.menu_vertical{
	border: 1px solid black;
	width: 15.5rem;
	height:100%;
	margin-bottom: 0px;
	position: absolute;
	position: fixed;
	background-color: #2A2B3C;
}

.divisao_central{
	margin: 5px 5px 5px 5px;
	height: 99%;
}

.floate{
	text-align: center;	
	position: relative;
	color: #fff;
	
}

.img_perfil{
	height: 75px;
	margin-top: 3px;
	position: absolute;
	width: 232px;

}


.img_perfil img{
	padding: 1px;
	margin-top: 6px;
	margin-left: 5px;
	border-radius: 10px;
	position: absolute;
}

.usuario{
	position: relative;	
	width: 155px;
	height: 60px;
	margin-left: 70px;
	margin-top: 6px;
}

.usuario #nome{
	font-family: arial;
	font-size: 9px;
	text-align: center;
	margin-bottom: 1px;
	font-weight:500;
	text-align:center;
	margin-top:5px;
	color: #D9D9DC;
}

.usuario #funcao{
	margin:2px;
	margin-left: 3px;
	text-align:center;
	color: #D9D9DC;
}



.menu_horizontal{
	border: 1px solid black;
	height: 60px;
	width: 80%;
	margin-left: 246.5px;
	position: fixed;
	background-color: #fff;
	display: block;
	z-index:1;
}
.conteudo{
	margin-left: 246.5px;
	position: absolute;
	margin-top: 60px;
	width: 80%;
	color: blue;
	z-index:0;
	margin-bottom: 1px;
	border: 1px solid red;
}

.footer{
	background-color: #F0F0F0;
	margin-bottom: 0px;
	height: 50px;
	position: absolute;
	width:100%; 

}
.footer p {
	text-align: center;
	margin-top: 10px;
	position: relative;

	}
	
	
.botao_vertical{
	position: relative;
	top: 22px;
	height: 400px;
	
}

.botao_vertical ul{
	text-decoration: none;
	position: center;
	margin-right: 30px;
	margin-left: 30px;
	padding-left: 0px;
	
	
}

.botao_vertical li{	
	list-style-type:none;
	margin-top: 20px;
	padding: 4px;
	
	
}

.botao_vertical a{
	display: block;
	color: #D9D9DC;
	
}

.botao_vertical a:hover {
	text-decoration: none; 
	color: #f00;
	background-color: blue;
}